:root {
    --background-color-white: #f5f5f5;
    --background-color-grey: #f5f4fa;
    --background-color-dark: #2f303a;
    --background-color-blue: #2196F3;
    --text-black: #212121;
    --text-gray: #757575;
    --text-blue: #2196f3;
    --text-white: #ffffff;
    --text-white-transp: rgba(255, 255, 255, 0.6);
}
/* приховування елементів */
.style {
    list-style: none;
}
.h2 {
    display: none;
}
/* стилістика сторінки */
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    border: 215px;
}
.h2,
.h3 {
    color: var(--text-black);
}
h1 {
    color: var(--text-white);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.navigation-item,
.nav-address {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.logo {
    font-family: 'raleway';
    color: var(--text-black);
    outline: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
}
.logo:hover,
.logo:focus {
    color: var(--text-blue);
    cursor: pointer;
}
.navigation-link {
    outline: none;
    text-decoration: none;
}
.nav-address a{
    outline: none;
    text-decoration: none;
    color: var(--text-gray);
}
.nav-address a:hover,
.nav-address a:focus {
    color: var(--text-blue);
}
.accent {
    color: var(--text-blue);
}
.navigation-link:hover,
.navigation-link:focus,
.address:hover,
.address:focus {
    color: var(--text-blue);
    cursor: pointer;
}
.navigation-link.active {
    color: var(--text-blue);
}
.button:hover,
.button:focus {
    color: var(--text-white);
    background-color: var(--background-color-blue);
    border-color: var(--text-blue);
    cursor: pointer;
}
p {
    color: var(--text-gray);
}
.navigation-link {
    color: var(--text-black);
}
.div-cap {
    background-color: var(--background-color-dark);
}
.div-cap .btn {
    background-color: var(--background-color-blue);
    color: var(--text-white);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}
.div-team {
    display: flex;
    background-color: var(--background-color-grey);
}
/* Footer */
.footer {
    background-color: var(--background-color-dark);
}
.street {
    color: var(--text-white);
}
.contact a{
    outline: none;
    text-decoration: none;
    color: var(--text-white-transp);
}
.logo-footer {
    font-family: 'raleway';
    outline: none;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--text-white)
}
.logo-footer:hover,
.logo-footer:focus {
    color: var(--text-blue);
    cursor: pointer;
}
.list-item a:hover,
.list-item a:focus {
    color: var(--text-blue);
    cursor: pointer;
}
.list-address {
    outline: none;
    text-decoration: none;
}