:root {
    --background-color-white: #f5f5f5;
    --background-color-grey: #f5f4fa;
    --background-color-dark: #2f303a;
    --background-color-blue: #2196F3;
    --background-color-clear-white: #ffffff;
    --text-black: #212121;
    --text-gray: #757575;
    --text-blue: #2196f3;
    --text-white: #ffffff;
    --text-white-transp: rgba(255, 255, 255, 0.6);
    --offset-size: 30px;
}
/* приховування елементів */
.list {
    list-style: none;
    padding: 0;
    display: flex;
}
.h2 {
    display: none;
}
/* стилістика сторінки */
body {
    background-color: var(--background-color-clear-white);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.main-title {
    color: var(--text-white);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    max-width: 696px;
}
.btn {
    margin-top: var(--offset-size);
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}
.header {
    background-color: var(--background-color-clear-white);
    height: 80px;
    border-bottom: 1px solid #ECECEC;
}
.header-content {
    display: flex;
    align-items: center;
    height: 100%;
}
.main-menu {
    margin-left: 68px;
}
.features {
    padding: 94px 0;
}
.features .item {
    margin-left: var(--offset-size);
    color: var(--text-black);
}
.features .item:first-child {
    margin: 0;
}
.features .title {
    color: var(--text-black);
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features .text {
    color: var(--text-gray);
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}
.what-we-do .item {
    margin-left: var(--offset-size);
}
.what-we-do .item:first-child {
    margin-left: 0;
}
.what-we-do .image {
    width: 100%;
}
.what-we-do .title {
    color: var(--text-black);
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}
.what-we-do .list {
    margin-bottom: 94px;
}
.nav-address-wrap {
    margin-left: auto;
}
.nav-address-wrap .nav-address:last-child {
    margin: 0px;
}
.navigation-item,
.nav-address {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    margin: 0 25px;
}
.logo {
    font-family: 'raleway';
    color: var(--text-black);
    outline: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
}
.logo:hover,
.logo:focus {
    color: var(--text-blue);
    cursor: pointer;
}
.navigation-link {
    outline: none;
    text-decoration: none;
}
.nav-address a{
    outline: none;
    text-decoration: none;
    color: var(--text-gray);
}
.nav-address a:hover,
.nav-address a:focus {
    color: var(--text-blue);
}
.accent {
    color: var(--text-blue);
}
.navigation-link:hover,
.navigation-link:focus,
.address:hover,
.address:focus {
    color: var(--text-blue);
    cursor: pointer;
}
.navigation-link.active {
    color: var(--text-blue);
}
/* BUTTONS */

.button:hover,
.button:focus {
    color: var(--text-white);
    background-color: var(--background-color-blue);
    border-color: var(--text-blue);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.navigation-link {
    color: var(--text-black);
}
.cap {
    background-color: var(--background-color-dark);
    text-align: center;
}
.cap-content {
    padding: 200px 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cap-content .btn {
    background-color: var(--background-color-blue);
    color: var(--text-white);
    letter-spacing: 0.06em;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    border: 0;
    padding: 9px 32px;
    align-self: center;
}
.our-team {
    padding: 94px 0;
    background-color: var(--background-color-grey);

}
.our-team .image {
 width: 100%;
}
.our-team .item {
    margin-left: var(--offset-size);
    background-color: var(--background-color-clear-white);
}
.our-team .item:first-child {
    margin-left: 0;
}
.our-team .title {
    color: var(--text-black);
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
}
.our-team .text {
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-gray);
}
.our-team .top-title {
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-black);
    margin-top: 0;
    margin-bottom: 50px;
}
/* Footer */
.footer {
    background-color: var(--background-color-dark);
    padding: 60px 0;
}
.footer .list {
    flex-direction: column;
    margin: 20px 0 0;
}

/* Page nomber 2 */
.filters {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: var(--background-color-clear-white);
}
.filters .btn {
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--background-color-grey);
    color: var(--text-black);
    font-weight: 500;
    line-height: calc(26/16);
    border-radius: 4px;
    border: none;
    margin-left: 8px;
    font-family: 'Roboto'
}

.filters .list:first-child {
    margin-left: 0;
}

.filters .btn:hover,
.filters .btn:focus {
    background-color: var(--background-color-blue);
    color: var(--text-white);
    cursor: pointer;
}

.filters .btn {
    padding: 6px 22px;
}

.filters .btn:first-child {
    padding: 6px 25px;
}

.portfolio {
    background-color: var(--background-color-clear-white);
}

.portfolio .item {
    margin-left: var(--offset-size);
    margin-bottom: var(--offset-size);

}

.portfolio .title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
}
.portfolio .text {
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: var(--text-gray);
}
.portfolio .list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}
.portfolio-text {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 20px 24px;
}
.portfolio:last-child {
    margin-bottom: 94px;
} 

.street {
    color: var(--text-white);
}
.footer .link {
    outline: none;
    text-decoration: none;
    color: var(--text-white-transp);
}
.logo-footer {
    font-family: 'raleway';
    outline: none;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    color: var(--text-white)
}
.logo-footer:hover,
.logo-footer:focus {
    color: var(--text-blue);
    cursor: pointer;
}
.footer .item {
    font-size: 14px;
    line-height: calc(24/14);
    margin-bottom: 9px;

}
.footer .item a:hover,
.footer .item a:focus {
    color: var(--text-blue);
    cursor: pointer;
}
.list-address {
    outline: none;
    text-decoration: none;
}